.userdetailsblock {
    width: 508px;
    height: 331px;
    gap: 32px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 0px 4px 84px -40px #9da7fb66;
}

.bar {
    border: 1px solid var(--Tokens-Typographie-Tertiary, #e7e7e7);
}

ul li {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    color: #707070;
    text-align: left;
}

ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}