.navigationbar{
    width: 461px;
height: 49px;
gap: 10px;
border-radius: 40px;
background-color: #FFFFFFE5;
display: flex;
gap: 40px;
align-items: center;
justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 49px;
}
.disconnect{
    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
color: #0B23F4;
cursor: pointer;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-right: solid 1px black;
    padding-right: 20px;
}