.ProfileDetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardProfile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 15px;
}

.profileD{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}